.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px max(20px, 7.5%) auto max(20px, 7.5%);
}

.profile-photo-container {
  display: flex;
  flex-direction: column;
  width: 3200px;
  height: auto;
  border: 1px black solid;
}

.profile-photo-subtitle {
  justify-self: end;
  align-self: center;
}

.about-me-text-container {
  font-family: "Playfair-Display", serif;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-self: top;
  margin: 30px 0 30px 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 10px;
  gap: 20px;
}
.social-icons {
  width: 25px;
  height: auto;
}

.phone-number,
.email {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
