.my-work {
  display: flex;
  flex-direction: column;
  margin: 0 max(20px, 7.5%) 0 max(20px, 7.5%);
}

.my-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  padding: 20px 0 20px 0;
}

.my-work-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-work-img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.my-work-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-work-desc {
  padding: 20px;
}

.my-work-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.my-work-links-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
