* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair-Display", serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
